@model  IEnumerable<Online_Tic_Oto.Models.Sınıflar.GrupSinif3>

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Ürün Marka Tablosu</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body p-0">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="width: 10px">#</th>
                    <th>Marka</th>
                    <th>Progress Bar</th>
                    <th style="width: 40px">Toplam</th>
                </tr>
            </thead>
            <tbody>
                @{int sırano = 0; }
                @foreach (var a in Model)
                {
                    <tr>
                        <td>@{sırano++;}@sırano</td>
                        <td>@a.Marka</td>
                        <td>
                            @if (a.Sayi >= 1 && a.Sayi <= 10)
                            {
                                <div class="progress progress-xs">
                                    <div class="progress-bar progress-bar-danger" style="width: 55%"></div>
                                </div>
                            }
                            @if (a.Sayi >= 11 && a.Sayi <= 20)
                            {
                                <div class="progress progress-xs">
                                    <div class="progress-bar bg-warning" style="width: 55%"></div>
                                </div>
                            }
                            @if (a.Sayi >= 21 && a.Sayi <= 30)
                            {
                                <div class="progress progress-xs">
                                    <div class="progress-bar accent-red" style="width: 55%"></div>
                                </div>
                            }
                            @if (a.Sayi >= 31 && a.Sayi <= 40)
                            {
                                <div class="progress progress-xs">
                                    <div class="progress-bar bg-blue" style="width: 55%"></div>
                                </div>
                            }
                            @if (a.Sayi >= 41 && a.Sayi <= 50)
                            {
                                <div class="progress progress-xs">
                                    <div class="progress-bar bg" style="width: 55%"></div>
                                </div>
                            }
                            @if (a.Sayi >= 51 && a.Sayi <= 60)
                            {
                                <div class="progress progress-xs">
                                    <div class="progress-bar progress-bar-danger" style="width: 55%"></div>
                                </div>
                            }
                            @if (a.Sayi >= 61 && a.Sayi <= 70)
                            {
                                <div class="progress progress-xs">
                                    <div class="progress-bar progress-bar-danger" style="width: 55%"></div>
                                </div>
                            }
                            @if (a.Sayi >= 71 && a.Sayi <= 81)
                            {
                                <div class="progress progress-xs">
                                    <div class="progress-bar progress-bar-danger" style="width: 55%"></div>
                                </div>
                            }

                        </td>
                        <td><span class="badge bg-danger">@a.Sayi</span></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>
