@using Online_Tic_Oto.Models.Sınıflar
@model List<Departman>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h4>Departman Listesi</h4>
<table class="table table-bordered" style="margin-top:20px;">

    <tr>
        <th>ID</th>
        <th>Departman Adı</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Detaylar</th>
    </tr>

    @foreach (var k in Model)
    {
        if (!string.IsNullOrEmpty(k.DepartmanADI))
        {
            <tr>
                <td>@k.DepartmanID</td>
                <td>@k.DepartmanADI</td>
                <td><a href="#" class="btn btn-danger" onclick="confirmDelete('@k.DepartmanID')">Sil</a></td>
                <td><a href="/Departman/DepartmanGetir/@k.DepartmanID" class="btn btn-success">Güncelle</a></td>
                <td><a href="/Departman/DepartmanDetay/@k.DepartmanID" class="btn btn-success" style="background-color:dimgrey">Detay</a></td>

            </tr>
        }

    }



</table>
<a href="/Departman/DepartmanEkle" class="btn btn-primary">Departman Ekle</a>
<script>
    function confirmDelete(DepartmanID) {
        if (confirm('Bu Departman silmek istediğinize emin misiniz?')) {
            // Kullanıcı "Evet" dediğinde silme işlemini gerçekleştirin
            window.location.href = '/Departman/DepartmanSil/' + DepartmanID;
        }
    }
</script>
