
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Create</h2>



<!-- Ana view içeriği -->

<div>
    @Html.Partial("_CreateSatisPartial")
</div>

<br />
<div>
    @Html.Partial("_CreateSatisDetayPartial")
</div>